snippet split
	//-----------------------------------
	// ${1}
	//-----------------------------------
#

snippet fenbi
	/**
	 * `expand("%:t")`, `strftime("%b %-d, %Y")`
	 *
	 * Copyright `strftime("%Y")` fenbi.com. All rights reserved.
	 * FENBI.COM PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
	 */

	/**
	 * @author `g:snips_author` <`g:snips_email`>
	 */

	${1}

	/* vim: set et sw=4 ts=4 sts=4: */
